
@import "tailwindcss";
@config "../tailwind.config.js"; /* Updated path */

.disable-select {
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}